.navbarContainer{
    padding: .4rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2{
    color: white;
    font-weight: 400;
    
}

#spanPortfolio{
    font-weight: bold;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.links{
    position: absolute;
    top: 700px;
    left: -200px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all .5s ease;
}

.links a{
    color: white;
    font-size: 2rem;
    display: block;
}

.links.active{
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

.links.active a{
    color: white;
    font-size: 2rem;
    margin-top: 1rem;

}

@media(min-width: 768px){
    .burguer{
        display: none;
    }

    .links{
        position:initial ;
        margin: 0;   
    }

    .links a{
        font-size: 1rem ;
        color: white;
        display: inline;
    }

}